html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Alata, sans-serif;
  background: var(--bg);
} 

:root {
  --color: #35b6fa;   
  --grad: linear-gradient(90deg, rgba(48,77,246,1) 0%, rgba(48,210,252,1) 100%);
  --bg: #0e1420;
} 

.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  outline: none;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-track {
  background: #eee; 
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 50px;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  padding: 10px 20px;
  background: var(--color);
  color: #fff;
  box-shadow: 0px 10px 20px -2px rgba(53,182,250,0.05);
} 
button:active {
  transform: scale(0.97);
}
button:hover {
  filter: brightness(110%);
  box-shadow: 0px 10px 14px 3px rgba(53,182,250,0.07);
} 
button i, a i {
  margin-right: 10px;
}
input {
  border: none;
  padding: 10px;
  transition: all 0.3s;
  background: #f1f1f1;
  text-align: center;
}
input:focus, select:focus, textarea:focus {
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  background: #f9f9f9;
}
a {
  text-decoration: none;
  color: #111;
}
input, textarea, select {
  outline: none;
}
textarea {
  font-family: inherit;
}
textarea::placeholder {
  color: #bbb;
}
input::placeholder {
  color: #bbb;
  font-size: 13px;
}
hr {
  border: none;
}


.appcontainer {
  position: relative;
  display: grid;
  grid-template-columns: 250px auto;
}
.sidebar {
  background: var(--bg);
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-gap: 30px;
}
.homecont {
  background: #f5f5f5;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}
.profcont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  grid-gap: 15px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.profcont img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  box-shadow: 0 8px 8px rgba(0,0,0,0.06);
}
.profcont > div {
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.2s;
}
.profcont > div:hover {
  background: rgba(255,255,255,0.1);
}
.profcont h4 {
  font-size: 18px;
  color: #fff;
}
.profcont i {
  font-size: 17px;
  position: absolute;
  top: 14px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}
.profcont h6 {
  color: #aaa;
  font-weight: 500;
  font-size: 11px;
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.menuitem {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.menuitem:hover {
  background: rgba(255,255,255,0.1);
}
.menu a h6 {
  font-size: 15px;
  color: #ddd;
  width: 120px;
  font-weight: 500;
}
.menu a h6 i {
  margin-right: 12px;
  font-size: 14px;
}
.sidebar button {
  padding: 15px 25px;
  font-size: 15px;
  background: none;
  color: var(--color);
  border: 1px solid var(--color)
}
.sidebar button:hover {
  background: rgba(255,255,255,0.1);
}
.activelink {
  background: rgba(255,255,255,0.1);
}
.activelink a h6 {
  color: var(--color)
}
.quickprojects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
  width: 100%;
}
.quickprojects span {
  color: #aaa;
  font-size: 12px;
}

nav {
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 900;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  overflow: hidden;
}
.logocont {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
.logocont img {
  width: 30px;
}
.logocont h5 {
  font-size: 20px;
  font-weight: 900;
  color: #444;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.toolbar > div {
  padding: 25px;
  border-left: 1px solid #f5f5f5;
  cursor: pointer;
  transition: all 0.2s;
}
.toolbar > div:hover {
  background: #f5f5f5;
}
.toolbar i {
  color: #aaa;
}
















