html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  background: var(--bg); 
}   

:root {
  --color: #35b6fa;   
  --grad: linear-gradient(90deg, rgba(48,77,246,1) 0%, rgba(48,210,252,1) 100%);
  --bg: #0e1420;
  --light: #35b6fa11;
  --light2: #35b6fa25;
  --mainshadow: rgba(48,210,252,0.4);
  --dark: #0d1a25;
}  

.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  outline: none;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-track {
  background: #eee; 
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 50px;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  padding: 10px 20px;
  background: var(--color);
  color: #fff;
  border-radius: 6px;
  box-shadow: 0px 10px 20px -2px rgba(53,182,250,0.05);
} 
button:active {
  transform: scale(0.97);
}
button:hover {
  filter: brightness(110%);
  box-shadow: 0px 10px 14px 0px rgba(53,182,250,0.07);
} 
button i, a i {
  margin-right: 10px;
}
input {
  border: none;
  padding: 13px 10px;
  transition: all 0.3s;
  border-radius: 5px;
  border: 1px solid #ddd;
}
input[type="color"] {
  height: 45px;
  padding: 5px;
  cursor: pointer;
}
a { 
  text-decoration: none;
  color: #111;
}
input, textarea, select {
  outline: none;
}
textarea {
  font-family: inherit;
}
textarea::placeholder {
  color: #bbb;
}
input::placeholder {
  color: #bbb;
  font-size: 12px;
}
hr {
  border: none;
}


.appcontainer {
  position: relative;
  display: grid;
  grid-template-columns: 250px auto;
  transition: all 0.3s;
}
.foldappcontainer {
  grid-template-columns: 70px auto;
}
.foldappcontainer .sidebar .profcont img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}
.foldappcontainer .sidebar .profcont > div {
  display: none;
}
.foldappcontainer .menu > a span {
  display: none;
}
.foldappcontainer .menu > a h6 {
  width: auto;
}
.foldappcontainer .menu > a h6 i {
  margin: auto;
  font-size: 17px;
}
.foldappcontainer .quickprojects span, .foldappcontainer .blobcont, .foldappcontainer .creditsdiv {
  display: none;
}
.sidebar {
  background: var(--bg);
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-gap: 30px;
  overflow-y: scroll;
} 
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebarbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('https://i.imgur.com/IcBu152.jpg');
  opacity: 0.07;
  filter: grayscale(40%)
}
.homecont {
  background: #f5f5f5;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}
.profcont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  grid-gap: 15px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  min-height: 150px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  transition: all 0.2s;
}
.profcont img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  box-shadow: 0 8px 8px rgba(0,0,0,0.06);
}
.mainprof {
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.2s;
}
.mainprof:hover {
  background: rgba(255,255,255,0.1);
}
.profcont h4 {
  font-size: 18px;
  color: #fff;
}
.mainprof i {
  font-size: 17px;
  position: absolute;
  top: 14px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
}
.profcont h6 {
  color: #aaa;
  font-weight: 500;
  font-size: 11px;
}
.accountlinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.accountlinks a i {
  font-size: 13px;
}
.accountlinks a {
  width: 100%;
  padding: 7px 20px;
}
.accountlinks a:hover {
  background: rgba(255,255,255,0.1);
}
.accountlinks a h6 {
  width: 180px;
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.menu > a {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.menu > a:hover {
  background: rgba(255,255,255,0.1);
}
.menu > a h6 {
  font-size: 15px;
  color: #ddd;
  width: 120px;
  font-weight: 500;
}
.menu > a h6 i {
  margin-right: 12px;
  font-size: 14px;
}
.sidebar button {
  padding: 15px 25px;
  font-size: 15px;
  background: none;
  color: var(--color);
  border: 1px solid var(--color)
}
.sidebar button:hover {
  background: rgba(255,255,255,0.1);
}
.activelink {
  background: rgba(255,255,255,0.1);
}
.activelink a h6 {
  color: var(--color)
}
.quickprojects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
  width: 100%;
}
.quickprojects span {
  color: #aaa;
  font-size: 12px;
}
.blobcont {
  width: 170px;
  text-align: center;
  width: 80%;
}
.blobcont img {
  width: 90%;
}
.blobcont h6 {
  font-size: 13px;
  color: #ccc;
  font-weight: 500;
  line-height: 1.5;
}
.blobcont .fa-sparkles {
  position: absolute;
  color: var(--color);
}
.blobcont .spark1 {
  bottom: 30px;
  left: -20px;
  opacity: 0.7;
}
.blobcont .spark2 {
  right: 0;
  top: 60px;
  opacity: 0.4;
}
.blobcont .spark3 {
  right: 20px;
  bottom: -20px;
  opacity: 0.8;
}
.creditsdiv {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  grid-gap: 10px; 
}
.creditsdiv img {
  width: 20px;
}
.creditsdiv small {
  color: #35b6fa60;
  font-size: 12px;
}

nav {
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 900;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.logocont {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
.logocont img {
  width: 24px;
}
.logocont h5 {
  font-size: 20px;
  font-weight: 900;
  color: #444;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.toolbar > div {
  padding: 16px 25px;
  border-left: 1px solid #f5f5f5;
  cursor: pointer;
  transition: all 0.2s;
}
.toolbar > div:hover {
  background: #f5f5f5;
}
.toolbar > div:hover i {
  color: var(--color)
}
.toolbar i {
  color: #aaa;
}
.notifcircle {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color);
  font-size: 10px;
  color: #fff;
}
.slidemenu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 330px;
  background: #fff;
  box-shadow: 0 6px 13px rgba(0,0,0,0.1);
  visibility: hidden;
  transition: all 0.2s;
  opacity: 0;
}
.slidemenu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: all 0.2s;
  color: var(--color);
}
.slidemenu a:hover {
  background: var(--light)
}
.slidemenu a i {
  color: var(--color);
  font-size: 14px;
  top: 1px;
  margin-right: 15px;
}
.slidemenu a h6 {
  font-size: 12px;
}
.boxmenu:hover .slidemenu {
  visibility: visible;
  opacity: 1;
  top: 54px;
}
.newbox .slidemenu {
  left: 0;
  right: auto;
} 
.optionsbox .form-switch {
  transform: scale(0.8)
}
.slidemenu .searchdiv i {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
} 
.slidemenu .searchdiv input {
  width: 100%;
  padding: 20px;
  padding-left: 50px;
}
.slidemenu input:focus {
  box-shadow: none;
}
.apppage {
  width: 100%;
  height: 100%;
  padding: 35px 30px;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.apptitles {
  width: 100%;
} 
.apptitles h5 {
  font-size: 16px;
  color: #555;
}
.apptitles h6 {
  margin-top: 5px;
  color: #bbb;
  font-size: 12px;
}
.homegrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  width: 100%;
  grid-auto-flow: row dense;
  margin-top: 30px;
}
.banner {
  width: 100%;
  padding: 30px;
  background: var(--bg);
  border-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  grid-column: span 3;
  box-shadow: 0 1px 13px rgba(0,0,0,0.2);
  overflow: hidden;
}
.banner img {
  top: -70px;
  width: 260px;
  height: 260px;
  object-fit: contain;
}
.banner h4 {
  color: #fff;
  font-size: 20px;
}
.banner h6 {
  color: #aaa;
  font-weight: 500;
  margin-top: 10px;
  font-size: 13px;
}
.quicknotifs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  grid-gap: 10px;
}
.quicknotifs small {
  border-radius: 40px;
  border: 1px solid rgba(255,255,255,0.3);
  padding: 8px 15px;
  font-size: 12px;
  color: #ddd;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}
.quicknotifs small:hover {
  background: rgba(255,255,255,0.1); 
}
.quicknotifs small i {
  margin-right: 10px;
}
.homemain {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(4,1fr);
  grid-gap: 15px;
  width: 100%;
  grid-column: span 3;
}
.homeside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 15px;
}
.dashbox {
  box-shadow: 0 1px 10px rgba(0,0,0,0.05);
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  width: 100%;
}
.calendar {
  grid-column: span 1;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: 305px;
  overflow: hidden;
  padding: 0;
}
.fc-col-header {
  margin: 0;
}
#calendar .fc-toolbar-title {
  font-size: 16px;
}
#calendar .fc-today-button {
  background: none;
  color: var(--txt);
  border: none;
}
#calendar .fc-button-group button {
  background: #eee;
  border: none;
  padding: 5px;
  margin-left: 5px;
  color: #bbb;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calendar .fc-toolbar-chunk {
  top: 10px;
}
#calendar .fc-toolbar-chunk button {
  background: var(--light);
}
#calendar .fc-today-button {
  font-size: 13px;
  color: var(--color);
}
#calendar .fc-toolbar-chunk span {
  color: var(--color)
}
#calendar .fc-button-group button:hover {
  background: var(--light2);
}
#calendar table, #calendar td, #calendar th {
  border: none;
}
#calendar table {
  width: 100%;
}
#calendar td {
  font-size: 11px;
  padding: 0;
  transition: all 0.2s;
}
#calendar .fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#calendar .fc-daygrid-day-frame:hover {
  background: #f1f1f1;
  cursor: pointer;
}
#calendar th {
  padding-bottom: 10px;
}
#calendar ::-webkit-scrollbar {
  display: none;
} 
#calendar .fc-header-toolbar {
  width: 91%;
  margin: auto;
  margin-bottom: 30px;
} 

.statusbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #777;
  grid-gap: 20px;
}
.statusbox h4 {
  font-size: 13px;
}
.statusbox h4 span {
  display: block;
  margin-top: 5px;
  font-size: 20px;
  color: var(--color);
  font-weight: 600;
}
.statusbox .iconcont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 20px;
  width: 100%;
}
.statusbox .iconcont i {
  font-size: 27px;
}
.homeside .view {
  width: 30px;
  height: 30px;
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: var(--color);
  cursor: pointer;
  transition: all 0.2s;
}
.homeside .view:hover {
  background: var(--light2);
}
.updatesbox {
  height: 320px;
  padding: 20px;
}
.dashbox h5 {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
} 
.dashgraph {
  grid-column: span 3;
  grid-row: span 2;
} 
.tasksbox {
  grid-column: span 3;
} 
.taskrow, .taskhead {
  width: 100%;
  height: 50px;
  background: var(--light);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.taskhead {
  background: none;
  height: 10px;
}
.taskhead h6 {
  font-size: 13px;
  color: #333;
  flex-basis: 20%;
}
.taskrow h6 {
  color: #777;
  font-size: 12px;
  flex-basis: 20%;
}
.taskrow h6:first-child, .taskhead h6:first-child {
  flex-basis: 25%;
}
.taskrow h6 i {
  font-size: 17px;
  padding: 5px;
  cursor: pointer;
}
.taskrow h6 i:hover {
  color: var(--color);
}
.updateitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.updateitem h4 {
  font-size: 12px;
  color: #555;
  top: -2px;
}
.updateitem h4 i {
  top: 2px;
  margin-right: 10px;
  color: var(--color);
  padding: 3px 0;
  z-index: 10;
  background: #fff;
  font-size: 16px;
}
.updatebar {
  position: absolute;
  left: 27px;
  top: 85px;
  height: 200px;
  width: 2px;
  background: var(--color);
  z-index: 5;
  opacity: 0.2;
}
.sidetogglecont {
  position: absolute;
  width: 25px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.sidetogglecont:hover hr {
  background: #fff;
}
.sidetogglecont hr {
  width: 100%;
  height: 2px;
  background: #aaa;
  margin: 5px 0;
  transition: all 0.2s;
}
.sidetogglecont hr:nth-of-type(2) {
  width: 55%;
}
.sidetogglecont hr:nth-of-type(3) {
  width: 30%;
}

.pagegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.pagemaingrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 40px;
  grid-column: 1/-2;
}
.pagetitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  grid-column: 1/-1;
}
.pagetitles .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagetitles .actions > div {
  width: 30px;
  height: 30px;
  color: var(--color);
  background: var(--light2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.pagetitles .actions > div:hover {
  filter: brightness(85%);
}
.pagetitles .actions button {
  padding: 10px;
  margin-left: 20px;
}
.projbox {
  width: 245px;
  height: 190px;
  background: #fff;
  box-shadow: 0 1px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-gap: 10px;
  line-height: 13px;
}
.projbox .iconcont {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  border-radius: 10px;
}
.projbox .iconcont i {
  color: #fff;
  margin: 0;
}
.projbox h4 {
  font-size: 14px;
  color: #000;
  margin-top: 10px;
  font-weight: 600;
}
.projbox h6 {
  color: #aaa;
  font-weight: 500;
  margin-top: 2px;
}
.clientcircle {
  width: 23px;
  height: 23px;
  border-radius: 100%;
  background: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientcircle small {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}
.projbox .fa-ellipsis-v {
  position: absolute;
  color: #ccc;
  right: 10px;
  top: 10px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.projbox .fa-ellipsis-v:hover {
  color: #333;
}
.projbox .progresscont {
  width: 100%;
  margin-top: 7px;
}
.projbox .progtube {
  width: 100%;
  background: #f5f5f5;
  height: 4px;
  border-radius: 50px;
  overflow: hidden;
}
.projbox .progfill {
  width: 0%; 
  height: 100%;
  background: #70f000;
  border-radius: 50px;
  transition: all 0.3s;
}
.progtitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.progtitles h6 {
  font-weight: 600;
  color: #333;
}
.projinforow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.projinforow small {
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  background: #f5f5f5;
  color: #777;
}
.projinforow small i {
  margin-right: 5px;
}

.progcircle {
  width: 100px; 
  position: relative;
  margin: auto;
} 
.circle-bg {
  fill: none;
  stroke-width: 2;
}
.circle {
  fill: none;
  stroke-width: 2; 
  stroke-linecap: round;
  stroke: var(--color);
  animation: progress 1s ease-out forwards;
}
@keyframes progress { 0% { stroke-dasharray: 0 100; }}
.percentage, .subtext {
  fill: var(--color);
  font-family: inherit;
  text-anchor: middle;
  position: relative;
  font-size: 7px; 
  font-weight: 600;
  transition: all 1s;
}
.subtext {
  font-size: 3px;
  fill: #aaa;
}

/* iOS Style Button */
.form-switch{display:inline-block;cursor:pointer;-webkit-tap-highlight-color:transparent}
.form-switch i{position:relative;display:inline-block;margin-right:.5rem;width:46px;height:26px;background-color:#e6e6e6;border-radius:23px;vertical-align:text-bottom;transition:all .3s linear}
.form-switch i::before{content:"";position:absolute;left:0;width:42px;height:22px;background-color:#fff;border-radius:11px;transform:translate3d(2px,2px,0) scale3d(1,1,1);transition:all .25s linear}
.form-switch i::after{content:"";position:absolute;left:0;width:22px;height:22px;background-color:#fff;border-radius:11px;box-shadow:0 2px 2px rgba(0,0,0,.24);transform:translate3d(2px,2px,0);transition:all .2s ease-in-out}
.form-switch:active i::after{width:28px;transform:translate3d(2px,2px,0)}
.form-switch:active input:checked+i::after{transform:translate3d(16px,2px,0)}
.form-switch input{display:none}
.form-switch input:checked+i{background:var(--color)}
.form-switch input:checked+i::before{transform:translate3d(18px,2px,0) scale3d(0,0,0)}
.form-switch input:checked+i::after{transform:translate3d(22px,2px,0)} 

.darkapp nav {
  background: var(--bg);
}
.darkapp .logocont h5 {
  color: #bbb;
}
.darkapp .sidebar {
  filter: brightness(85%);
  transition: all 0.2s;
}
.darkapp .boxmenu {
  border-color: #333;
}
.darkapp .boxmenu:hover {
  background: #10283a;
}
.darkapp .slidemenu {
  background: var(--bg)
}
.darkapp .apppage {
  background: #020b13;
}
.darkapp .dashbox, .darkapp .banner {
  background: var(--dark);
}
.darkapp .projbox {
  background: var(--dark);
}
.darkapp .projbox h4 {
  color: #aaa;
}
.darkapp .projbox h6 {
  color: #999;
}
.darkapp .pagetitles h4 {
  color: #aaa;
}

.addprojectcont {
  position: fixed;
  bottom: -180%;
  top: 0;
  width: 400px;
  height: 80%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  transition: all 0.4s;
  z-index: 1000;
  padding: 30px 0;
  overflow: hidden;
}
.addprojectcont > div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
  height: calc(100% - 40px);
  width: 400px;
  transition: all 0.3s;
}
.addsection {
  z-index: 300;
  left: 0;
}
.clientsection {
  z-index: 200;
  left: 400px;
}
.taskssection {
  z-index: 100; 
  left: 400px;
}
.addprojectcont .fa-angle-left {
  position: absolute;
  left: 15px;
  top: -5px;
  font-size: 30px;
  color: #777;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.addprojectcont .fa-angle-left:hover {
  color: var(--color);
}
.addcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0d1a258e;
  z-index: 999;
}
.addprojectcont .fa-times {
  font-size: 25px;
  color: #555;
  cursor: pointer;
}
.addprojectcont .closeadd {
  position: absolute;
  top: 0;
  right: 15px;
}
.addprojectcont .titles {
  display: flex;
  grid-gap: 20px;
  align-items: center;
}
.addprojectcont .titles img {
  width: 20px;
}
.addprojectcont .titles h4 {
  font-size: 20px;
  color: #444;
}
.addprojectcont .content {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  height: 90%;
  overflow-y: scroll;
  border-bottom: 1px solid #eee;
}
.addprojectcont .content::-webkit-scrollbar {
  display: none;
}
.addprojectcont .content input {
  width: 300px;
}
.addprojectcont .content label i {
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 10;
}
.addprojectcont .content label h6 {
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}
.addprojectcont button {
  padding: 10px 35px;
}
.addprojectcont .content button {
  width: 300px;
  padding: 15px;
}
.addprojectcont .content button i {
  margin-left: 10px;
  font-size: 15px;
}
.addprojectcont .content select {
  padding: 13px 20px;
  border-radius: 5px;
  width: 300px;
  border: 1px solid #ddd;
  color: #555;
}
.clientdetails {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.clientdetails small {
  font-size: 12px;
  color: #777;
  margin: 3px auto;
}

.pageside {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}
.oneprojectpage .pageside {
  height: 90vh;
  background: var(--bg);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.oneprojectpage .pageside > h4 {
  color: #fff;
}
.oneprojectpage .pageside > h6 {
  color: #aaa;
  font-size: 13px;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 10px;
}
.oneprojectpage .pagemaingrid {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
.oneprojectpage .progcircle {
  margin: 30px auto;
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 100%;
}
.oneprojectpage .progcircle svg {
  transform: scale(3)
}
.pagesidebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('https://i.imgur.com/IP8WdVh.jpg');
  opacity: 0.04;
  filter: grayscale(100%);
}
.realtimediv {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  grid-gap: 15px;
}
.realtimediv h5 {
  color: #fff;
  font-weight: 500;
}

.lds-ellipsis{display:inline-block;width:80px;height:10px}
.lds-ellipsis div{position:absolute;top:auto;width:7px;height:7px;border-radius:50%;background:#fff;animation-timing-function:cubic-bezier(0,1,1,0)}
.lds-ellipsis div:nth-child(1){left:8px;animation:lds-ellipsis1 .9s infinite}
.lds-ellipsis div:nth-child(2){left:8px;animation:lds-ellipsis2 .9s infinite}
.lds-ellipsis div:nth-child(3){left:32px;animation:lds-ellipsis2 .9s infinite}
.lds-ellipsis div:nth-child(4){left:56px;animation:lds-ellipsis3 .9s infinite}
@keyframes lds-ellipsis1{0%{transform:scale(0)}100%{transform:scale(1)}}
@keyframes lds-ellipsis3{0%{transform:scale(1)}100%{transform:scale(0)}}
@keyframes lds-ellipsis2{0%{transform:translate(0,0)}100%{transform:translate(24px,0)}}

.sidecontent {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sidecontent h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.sidecontent h6 {
  font-weight: 500;
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}

























